.Hero {
    background-image: url("https://images2.alphacoders.com/742/742403.jpg");
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position-y: -50px;
    background-position-x: center;
    background-repeat: no-repeat;
}