.Card {
    display: flex;
    width: 270px;
    height: 400px;
    box-sizing: border-box;
    background-size: cover;
    gap: 20px;
    border-top-right-radius: 8%;
    cursor: pointer;
    transition: all 350ms linear;
}

.Card:hover {
    border-top-right-radius: 0;
}

.Card:hover h2 {
    padding-left: 40px;
}


.Card h2 {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 350px;
    padding-left: 20px;
    background-color: #004152;
    color: white;
    width: 100%;
    transition: all 350ms linear;
    text-transform: uppercase;
}

.Tags {
    display: flex;
    gap: 5px;
}