.GallerySlider__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nightMode {
    background-color: rgb(58, 58, 58);
}

.nightMode .Footer p,
.nightMode .Header a,
.nightMode .GallerySlider__title,
.nightMode .Gallery__container,
.nightMode .ChampCard {
    color: white;
}

.nightMode .Header,
.nightMode .Footer {
    background-color: rgb(58, 58, 58);
}

.nightMode .Header__menu li:hover {
    background-color: #F2F2F2;
}

.nightMode .Header__menu li:hover a {
    color: black;
}

.GallerySlider__title {
    text-align: center;
    margin: 30px 0;
}

@media screen and (max-width: 650px) {
    .GallerySlider__container {
        flex-direction: column;
    }
}