.Slider__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.Btn__container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.video {
    margin-top: -33px;
}

@media screen and (max-width: 650px) {

    .video{
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }
}